In [6]:
a = 10
if a > 20:
    print ("test of if block")
elif a == 20:
    print ("a value is ")

In [10]:
#a = 10
a = int(input("input value "))
if a > 10:
    print ("a value is greater than 10")
elif a < 10:
    print("a value is less than 10")
else:
    print("a value is equal to 10")

input value 100
a value is greater than 10

In [15]:
Discount = int(input("enter discount in %"))
if Discount == 50:
    print("you can buy all items in row1")
elif Discount == 30:
    print("you can buy row number 2")
elif Discount == 10:
    print      ("you can buy 3 row items")
else:
    print ("discount is not available for this")

enter discount in %10
you can buy 3 row items

In [31]:
income = int(input("enter income value"))
if income > 1000:
    if income > 2000 and income < 3000:
        print("income > 2000 and income < 5000:")
    elif income > 2000 and income < 5000:
        print("income > 2000 and income < 5000:")
    elif income < 5000:
        print("you will get 5000 card")
        if income > 2000 and income < 5000:
            print ("income > 2000 && income < 5000")
    else:
        print ("value in more than 2000 and more 5000")

enter income value3500
income > 2000 or income < 5000:

In [21]:
print ("for loop")

for loop

In [24]:
l = [1,2,3,4,5]

In [25]:
for i in l:
    print(i)

1
2
3
4
5

In [32]:
l =["suresh",[1,2,2,3,4],(1,2,3,4,),True,1782,"babu"]

In [33]:
for i in l:
    print(i)

suresh
[1, 2, 2, 3, 4]
(1, 2, 3, 4)
True
1782
babu

In [38]:
for i in l:
    if type(i) == str:
        print(i)
    if type(i) == list:
        print(i)
print(l)

suresh
[1, 2, 2, 3, 4]
babu
['suresh', [1, 2, 2, 3, 4], (1, 2, 3, 4), True, 1782, 'babu']

In [42]:
for i in l:
    if type(i) == list:
        print(i[2])

2

In [45]:
s = "sirivella suresh babu"
for n in s:
    print(s)

sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu
sirivella suresh babu

In [46]:
for m in s:
    print(m)

s
i
r
i
v
e
l
l
a

s
u
r
e
s
h

b
a
b
u

In [50]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [56]:
a = range(5)
print(a)

range(0, 5)

In [52]:
range(10)

range(0, 10)

In [57]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
print("nested for loops")

nested for loops

In [61]:
ls = [list(range(10)),[12,3,3,4,5],"ssafjl",(range(5),True)]

In [62]:
ls

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [12, 3, 3, 4, 5],
 'ssafjl',
 (range(0, 5), True)]

In [68]:
for i in ls:
    print("first for loop")
    #print(i)
    if type(i) == tuple:
        for n in i:
            print(n)
    elif type(i) == str:
        for m in i:
            print(m)

first for loop
first for loop
first for loop
s
s
a
f
j
l
first for loop
range(0, 5)
True

In [78]:
n = 5
for i in range(5):
    #print("*")
    for m in range(i+1):
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [79]:
n = 5
for i in range(5):
    #print("*")
    for m in range(i+1):
        print("*", end = "")

***************

In [88]:
n = 5
for i in range(n):
    #print("*")
    for m in range(i+1):
        print("*", end = "")
    print("")

*
**
***
****
*****

In [93]:
m = int(input("please enter value to generate pyramid"))
for i in range(m):
    #print(i)
    for n in range(i+1):
        print("*", end = "")
    print("")

please enter value to generate pyramid10
*
**
***
****
*****
******
*******
********
*********
**********

In [99]:
a = 5
for i in range(a):
    print(i, end="")
    for j in range(a):
        print(j, end="")
        for k in range(a):
            print(k, end="")
        print("")
    print("")

0001234
101234
201234
301234
401234

1001234
101234
201234
301234
401234

2001234
101234
201234
301234
401234

3001234
101234
201234
301234
401234

4001234
101234
201234
301234
401234